<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link rel="shortcut icon" href="/public/images/favicon.ico" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
      
</head>

<body class="light-theme">
  
  <header>

    <div class="container">

      <nav class="navbar">

        <a href="#">
          <img src="/images/Joshuagreatblog.png" alt="Joshugreat's blog logo" width="150" class="logo-light">
          <img src="/images/jb.png" alt="Joshuagreat's logo" width="150" class="logo-dark">
        </a>

        <div class="btn-group">

          <button class="theme-btn theme-btn-mobile light">
            <ion-icon name="moon" class="moon"></ion-icon>
            <ion-icon name="sunny" class="sun"></ion-icon>
          </button>

          <button class="nav-menu-btn">
            <ion-icon name="menu-outline"></ion-icon>
          </button>

        </div>

        <div class="flex-wrapper">

          <ul class="desktop-nav">

            <li>
              <a href="#" class="nav-link">Home</a>
            </li>

          </ul>

          <button class="theme-btn theme-btn-desktop light">
            <ion-icon name="moon" class="moon"></ion-icon>
            <ion-icon name="sunny" class="sun"></ion-icon>
          </button>

        </div>

        <div class="mobile-nav">

          <button class="nav-close-btn">
            <ion-icon name="close-outline"></ion-icon>
          </button>

          <div class="wrapper">

            <p class="h3 nav-title">Main Menu</p>

            <ul>
              <li class="nav-item">
                <a href="#" class="nav-link">Home</a>
              </li>

              <li class="nav-item">
                <a href="#" class="nav-link">About us</a>
              </li>
            </ul>

          </div>

          <div>

            <p class="h3 nav-title">Topics</p>

            <ul>
              <li class="nav-item">
                <a href="#" class="nav-link">Web Developement</a>
              </li>

              <li class="nav-item">
                <a href="#" class="nav-link">Frontend</a>
              </li>

              <li class="nav-item">
                <a href="#" class="nav-link">Backend</a>
              </li>
            </ul>

          </div>

        </div>

      </nav>

    </div>

  </header>





  <main>


    <div class="hero">

      <div class="container">

        <div class="left">

          <h1 class="h1">
            Hi,
            <br>Welcome
          </h1>

          <p class="h3">
            to Joshuagreat Blog
          </p>

          <div class="btn-group">
             <a href="/login" class="btn btn-secondary">Login</a>
            <a href="/signup" class="btn btn-secondary">Signup</a>
          </div>

        </div>

        <div class="right">

          <div class="pattern-bg"></div>
          <div class="img-box">
            <img src="/images/welcome.jpg" alt="welcome" class="hero-img">
            <div class="shape shape-1"></div>
            <div class="shape shape-2"></div>
          </div>

        </div>

      </div>

    </div>





    <div class="main">

      <div class="container">

        <div class="blog">

          <h2 class="h2">Latest Blog Post</h2>

          <div class="blog-card-group">

            <div class="blog-card">

              <div class="blog-card-banner">
                <img src="/images/web.jpg" alt="Web Development" width="250" class="blog-banner-img">
              </div>

              <div class="blog-content-wrapper">

                <button class="blog-topic text-tiny">Web Development</button>

                <h3>
                  <a href="#" class="h3">
                    Understanding the journey of Web Developement and how to make it easy
                  </a>
                </h3>

                <p class="blog-text">
                  Web development refers to the creation and maintenance of websites. It involves the use of several
                  programming languages and tools to build and deploy websites that can be accessed via the Internet.
                </p>

                <div class="wrapper-flex">
                  <div class="wrapper">
                    <a href="#" class="h4">Joshua Olatokun</a>

                    <p class="text-sm">
                      <time datetime="2023-09-28">Sept 28, 2023</time>
                      <span class="separator"></span>
                      <ion-icon name="time-outline"></ion-icon>
                      <time datetime="PT3M">3 min</time>
                    </p>
                  </div>

                </div>

              </div>

            </div>


            <div class="blog-card">

              <div class="blog-card-banner">
                <img src="/images/frontend.jpg" alt="Fast web page loading on a $20 feature phone" width="250"
                  class="blog-banner-img">
              </div>

              <div class="blog-content-wrapper">

                <button class="blog-topic text-tiny">Frontend</button>

                <h3><a href="" class="h3">Building your stamina as Frontend Engineer</a></h3>

                <p class="blog-text">
                  Front-end development involves creating the user interface and experience. It involves the use of
                  HTML, CSS, and JavaScript programming languages, which are used to create a visually appealing and
                  user-friendly website.

                </p>

                <div class="wrapper-flex">
                  <div class="wrapper">
                    <a href="#" class="h4">Joshua Olatokun</a>

                    <p class="text-sm">
                      <time datetime="2023-09-28">Sept 28, 2023</time>
                      <span class="separator"></span>
                      <ion-icon name="time-outline"></ion-icon>
                      <time datetime="PT3M">3 min</time>
                    </p>
                  </div>

                </div>

              </div>

            </div>


            <div class="blog-card">

              <div class="blog-card-banner">
                <img src="/images/backend.jpg" alt="Accessibility Tips for Web Developers" width="250"
                  class="blog-banner-img">
              </div>

              <div class="blog-content-wrapper">

                <button class="blog-topic text-tiny">Backend</button>

                <h3><a href="" class="h3">Running through Backend Hurdles</a></h3>

                <p class="blog-text">
                  Back-end development, on the other hand, involves building and managing the server side of the
                  website. This includes managing the databases, servers, and server-side scripting languages like PHP,
                  Ruby, and Python. Back-end developers are responsible for ensuring that everything on the server side
                  of the website is running smoothly, and they sometimes work in liaison with front-end developers to
                  ensure seamless integration of all website components.

                </p>

                <div class="wrapper-flex">
                  <div class="wrapper">
                    <a href="#" class="h4">Joshua Olatokun</a>

                    <p class="text-sm">
                      <time datetime="2023-09-28">Sept 28, 2023</time>
                      <span class="separator"></span>
                      <ion-icon name="time-outline"></ion-icon>
                      <time datetime="PT3M">3 min</time>
                    </p>
                  </div>

                </div>

              </div>

            </div>
             <a href="/signup" class="btn load-more btn-secondary">Load More</a>


          </div>


          <div class="aside">

            <div class="topics">

              <h2 class="h2">Topics</h2>

              <a href="#" class="topic-btn">
                <div class="icon-box">
                  <ion-icon name="server-outline"></ion-icon>
                </div>

                <p>Web Developement</p>
              </a>

              <a href="#" class="topic-btn">
                <div class="icon-box">
                  <ion-icon name="accessibility-outline"></ion-icon>
                </div>

                <p>Frontend</p>
              </a>

              <a href="#" class="topic-btn">
                <div class="icon-box">
                  <ion-icon name="rocket-outline"></ion-icon>
                </div>

                <p>Backend</p>
              </a>

            </div>

  </main>





  <!--
    - #FOOTER
  -->

  <footer>

    <div class="container">

      <div class="wrapper">

        <a href="#" class="footer-logo">
          <img src="/images/Joshuagreatblog.png" alt="Joshuagreat blog Logo" width="150" class="logo-light">
          <img src="/images/jb.png" alt="Joshuagreat blog Logo" width="150" class="logo-dark">
        </a>

        <p class="footer-text">
          Create and read blog with us today.
        </p>

      </div>

      <div class="wrapper">

        <p class="footer-title">Quick Links</p>

        <ul>


          <li>
            <a href="#" class="footer-link">About Us</a>
          </li>

          <li>
            <a href="#" class="footer-link">Contact Us</a>
          </li>

        </ul>

      </div>

      <div class="wrapper">

        <p class="footer-title">Legal</p>

        <ul>

          <li>
            <a href="#" class="footer-link">Privacy</a>
          </li>

          <li>
            <a href="#" class="footer-link">Cookie Policy</a>
          </li>

          <li>
            <a href="#" class="footer-link">Terms Of Use</a>
          </li>

        </ul>

      </div>

    </div>

    <p class="copyright">
      &copy; Copyright 2023 <a href="#">Joshua Olatokun</a>
    </p>

  </footer>
 
  <script src="/index.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>