<!DOCTYPE html>
<html>
<head>
    <title>User Profile</title>
</head>
<body>
    <h1>User Profile</h1>
    <p>Welcome, {{User.first_name}} {{User.last_name}}</p>
    <p>Email: {{User.email}}</p>
    <!-- Add more user-related information here -->
</body>
</html>
